Dashboard_En_NodeRED/Flow.txt
[
    {
        "id": "49a146bf1e769cb9",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "078d33ddd11827f9",
        "type": "mqtt in",
        "z": "49a146bf1e769cb9",
        "name": "",
        "topic": "CIITA/VERACRUZ/MONITOREO",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ef5a4a98c1920526",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 200,
        "wires": [
            [
                "943ed9109c2ea8d8",
                "0c407fe5a9b55bd7",
                "4ab44db1d70905fc",
                "1a25e426ac97c81c",
                "8ea204658fbe3955"
            ]
        ]
    },
    {
        "id": "1530ee93a41033df",
        "type": "ui_text",
        "z": "49a146bf1e769cb9",
        "group": "2016f31dd7cbf6d5",
        "order": 5,
        "width": 12,
        "height": 1,
        "name": "",
        "label": "Temperatura",
        "format": "{{msg.payload}}°C",
        "layout": "col-center",
        "x": 610,
        "y": 240,
        "wires": []
    },
    {
        "id": "ec9ffdfa542865de",
        "type": "ui_chart",
        "z": "49a146bf1e769cb9",
        "name": "",
        "group": "2016f31dd7cbf6d5",
        "order": 7,
        "width": 12,
        "height": 9,
        "label": "Grafica de la temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 650,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "943ed9109c2ea8d8",
        "type": "debug",
        "z": "49a146bf1e769cb9",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 60,
        "wires": []
    },
    {
        "id": "d2a884873c800a5f",
        "type": "inject",
        "z": "49a146bf1e769cb9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 640,
        "wires": [
            [
                "8b275035bf75910e",
                "4c3c8a3f79f6d1c7"
            ]
        ]
    },
    {
        "id": "0c407fe5a9b55bd7",
        "type": "function",
        "z": "49a146bf1e769cb9",
        "name": "function 1",
        "func": "var temp = parseFloat(msg.payload.temperatura);\nvar hum = parseFloat(msg.payload.humedad);\n\n//msg.topic = \"INSERT INTO invernadero_1(temperatura,humedad) VALUES('\" +temp+ \"','\"+hum+\"')\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "4ab44db1d70905fc",
        "type": "function",
        "z": "49a146bf1e769cb9",
        "name": "function 2",
        "func": "var temperatura = parseFloat(msg.payload.temperatura); \nmsg.payload = temperatura;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 260,
        "wires": [
            [
                "1530ee93a41033df",
                "ec9ffdfa542865de",
                "daacad1180369807"
            ]
        ]
    },
    {
        "id": "1a25e426ac97c81c",
        "type": "function",
        "z": "49a146bf1e769cb9",
        "name": "function 3",
        "func": "var humedad = parseFloat(msg.payload.humedad);\nmsg.payload = humedad;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 360,
        "wires": [
            [
                "778002d17435f52d",
                "b048946a44951359"
            ]
        ]
    },
    {
        "id": "778002d17435f52d",
        "type": "ui_text",
        "z": "49a146bf1e769cb9",
        "group": "2016f31dd7cbf6d5",
        "order": 6,
        "width": 12,
        "height": 1,
        "name": "",
        "label": "Humedad",
        "format": "{{msg.payload}} relativa",
        "layout": "col-center",
        "x": 600,
        "y": 340,
        "wires": []
    },
    {
        "id": "b048946a44951359",
        "type": "ui_chart",
        "z": "49a146bf1e769cb9",
        "name": "",
        "group": "2016f31dd7cbf6d5",
        "order": 8,
        "width": 12,
        "height": 9,
        "label": "Grafica de la humedad",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 640,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "1fa614b87f9e1fc3",
        "type": "ui_text",
        "z": "49a146bf1e769cb9",
        "group": "2016f31dd7cbf6d5",
        "order": 1,
        "width": 12,
        "height": 1,
        "name": "",
        "label": "Fecha",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 590,
        "y": 620,
        "wires": []
    },
    {
        "id": "7d95034a3a848717",
        "type": "ui_date_picker",
        "z": "49a146bf1e769cb9",
        "name": "",
        "label": "date",
        "group": "2016f31dd7cbf6d5",
        "order": 2,
        "width": 12,
        "height": 1,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "x": 590,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "8b275035bf75910e",
        "type": "function",
        "z": "49a146bf1e769cb9",
        "name": "function 4",
        "func": "var f = new Date();\nmsg.payload = f.toLocaleDateString();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 640,
        "wires": [
            [
                "1fa614b87f9e1fc3",
                "7d95034a3a848717"
            ]
        ]
    },
    {
        "id": "4c3c8a3f79f6d1c7",
        "type": "function",
        "z": "49a146bf1e769cb9",
        "name": "function 5",
        "func": "var h = new Date();\nmsg.payload = h.toLocaleTimeString();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 680,
        "wires": [
            [
                "b4b18fca1624d029"
            ]
        ]
    },
    {
        "id": "b4b18fca1624d029",
        "type": "ui_text",
        "z": "49a146bf1e769cb9",
        "group": "2016f31dd7cbf6d5",
        "order": 3,
        "width": 12,
        "height": 1,
        "name": "",
        "label": "Hora",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 590,
        "y": 700,
        "wires": []
    },
    {
        "id": "daacad1180369807",
        "type": "debug",
        "z": "49a146bf1e769cb9",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 100,
        "wires": []
    },
    {
        "id": "8ea204658fbe3955",
        "type": "function",
        "z": "49a146bf1e769cb9",
        "name": "function 6",
        "func": "var radiacion = parseFloat(msg.payload.radiacion);\nmsg.payload = radiacion;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 480,
        "wires": [
            [
                "52ccb4d62f5bd152",
                "9e9ca3c9728e3b4f"
            ]
        ]
    },
    {
        "id": "52ccb4d62f5bd152",
        "type": "ui_text",
        "z": "49a146bf1e769cb9",
        "group": "2016f31dd7cbf6d5",
        "order": 9,
        "width": 12,
        "height": 1,
        "name": "",
        "label": "Indice de radiación",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 630,
        "y": 460,
        "wires": []
    },
    {
        "id": "9e9ca3c9728e3b4f",
        "type": "ui_chart",
        "z": "49a146bf1e769cb9",
        "name": "",
        "group": "2016f31dd7cbf6d5",
        "order": 11,
        "width": 12,
        "height": 9,
        "label": "Grafica de la radiacion",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "5",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 640,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "b46c9911ae01f1e4",
        "type": "ui_spacer",
        "z": "49a146bf1e769cb9",
        "name": "spacer",
        "group": "2016f31dd7cbf6d5",
        "order": 4,
        "width": 12,
        "height": 1
    },
    {
        "id": "75700deb1ab55ccb",
        "type": "ui_spacer",
        "z": "49a146bf1e769cb9",
        "name": "spacer",
        "group": "2016f31dd7cbf6d5",
        "order": 10,
        "width": 12,
        "height": 1
    },
    {
        "id": "e114d68a04309880",
        "type": "ui_spacer",
        "z": "49a146bf1e769cb9",
        "name": "spacer",
        "group": "2016f31dd7cbf6d5",
        "order": 12,
        "width": 12,
        "height": 1
    },
    {
        "id": "9503ec58aa0baf70",
        "type": "ui_spacer",
        "z": "49a146bf1e769cb9",
        "name": "spacer",
        "group": "2016f31dd7cbf6d5",
        "order": 13,
        "width": 12,
        "height": 1
    },
    {
        "id": "861070372c3caf01",
        "type": "ui_spacer",
        "z": "49a146bf1e769cb9",
        "name": "spacer",
        "group": "2016f31dd7cbf6d5",
        "order": 14,
        "width": 12,
        "height": 1
    },
    {
        "id": "db0d72dc5d31574b",
        "type": "ui_spacer",
        "z": "49a146bf1e769cb9",
        "name": "spacer",
        "group": "2016f31dd7cbf6d5",
        "order": 15,
        "width": 12,
        "height": 1
    },
    {
        "id": "64ca0b8863189451",
        "type": "ui_spacer",
        "z": "49a146bf1e769cb9",
        "name": "spacer",
        "group": "2016f31dd7cbf6d5",
        "order": 16,
        "width": 12,
        "height": 1
    },
    {
        "id": "c7a4b86193e1edfb",
        "type": "ui_spacer",
        "z": "49a146bf1e769cb9",
        "name": "spacer",
        "group": "2016f31dd7cbf6d5",
        "order": 17,
        "width": 12,
        "height": 1
    },
    {
        "id": "888a0c84016740b1",
        "type": "ui_spacer",
        "z": "49a146bf1e769cb9",
        "name": "spacer",
        "group": "2016f31dd7cbf6d5",
        "order": 18,
        "width": 12,
        "height": 1
    },
    {
        "id": "f18035ebee6da87e",
        "type": "ui_spacer",
        "z": "49a146bf1e769cb9",
        "name": "spacer",
        "group": "2016f31dd7cbf6d5",
        "order": 19,
        "width": 12,
        "height": 1
    },
    {
        "id": "6f0345cb69667dfb",
        "type": "ui_spacer",
        "z": "49a146bf1e769cb9",
        "name": "spacer",
        "group": "2016f31dd7cbf6d5",
        "order": 20,
        "width": 12,
        "height": 1
    },
    {
        "id": "ef5a4a98c1920526",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.137.169",
        "port": "1883",
        "clientid": "CIITAVERACRUZ",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2016f31dd7cbf6d5",
        "type": "ui_group",
        "name": "Invernadero 1",
        "tab": "469dd2cd53cec20c",
        "order": 1,
        "disp": true,
        "width": "24",
        "collapse": false
    },
    {
        "id": "469dd2cd53cec20c",
        "type": "ui_tab",
        "name": "Centro de Innovación e Integración de Tecnologías Avanzadas Unidad Veracruz",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]