Dashboard_En_NodeRED/flows.json
[
    {
        "id": "49a146bf1e769cb9",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "078d33ddd11827f9",
        "type": "mqtt in",
        "z": "49a146bf1e769cb9",
        "name": "",
        "topic": "CIITA/VERACRUZ/MONITOREO",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ef5a4a98c1920526",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 360,
        "wires": [
            [
                "0c407fe5a9b55bd7",
                "4ab44db1d70905fc",
                "1a25e426ac97c81c",
                "8ea204658fbe3955",
                "9fcb94a7ca089376"
            ]
        ]
    },
    {
        "id": "d2a884873c800a5f",
        "type": "inject",
        "z": "49a146bf1e769cb9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 720,
        "wires": [
            [
                "8b275035bf75910e",
                "4c3c8a3f79f6d1c7"
            ]
        ]
    },
    {
        "id": "0c407fe5a9b55bd7",
        "type": "function",
        "z": "49a146bf1e769cb9",
        "name": "function",
        "func": "var temperatura_ds18b20 = parseFloat(msg.payload.temperatura_ds18b20);\nmsg.payload = temperatura_ds18b20;\n\n//msg.topic = \"INSERT INTO invernadero_1(temperatura,humedad) VALUES('\" +temp+ \"','\"+hum+\"')\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 160,
        "wires": [
            [
                "86ceb835e8fac476",
                "b20498ac4fd812dc"
            ]
        ]
    },
    {
        "id": "4ab44db1d70905fc",
        "type": "function",
        "z": "49a146bf1e769cb9",
        "name": "function",
        "func": "var temperatura_DHT22 = parseFloat(msg.payload.temperatura_DHT22); \nmsg.payload = temperatura_DHT22;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 260,
        "wires": [
            [
                "1530ee93a41033df",
                "ec9ffdfa542865de"
            ]
        ]
    },
    {
        "id": "1a25e426ac97c81c",
        "type": "function",
        "z": "49a146bf1e769cb9",
        "name": "function",
        "func": "var humedad_DHT22 = parseFloat(msg.payload.humedad_DHT22);\nmsg.payload = humedad_DHT22;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 360,
        "wires": [
            [
                "778002d17435f52d",
                "b048946a44951359"
            ]
        ]
    },
    {
        "id": "8b275035bf75910e",
        "type": "function",
        "z": "49a146bf1e769cb9",
        "name": "function",
        "func": "var f = new Date();\nmsg.payload = f.toLocaleDateString();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 700,
        "wires": [
            [
                "1fa614b87f9e1fc3"
            ]
        ]
    },
    {
        "id": "4c3c8a3f79f6d1c7",
        "type": "function",
        "z": "49a146bf1e769cb9",
        "name": "function",
        "func": "var h = new Date();\nmsg.payload = h.toLocaleTimeString();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 740,
        "wires": [
            [
                "b4b18fca1624d029"
            ]
        ]
    },
    {
        "id": "8ea204658fbe3955",
        "type": "function",
        "z": "49a146bf1e769cb9",
        "name": "function",
        "func": "var radiacionUV = parseFloat(msg.payload.radiacionUV);\nmsg.payload = radiacionUV;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 560,
        "wires": [
            [
                "52ccb4d62f5bd152",
                "9e9ca3c9728e3b4f",
                "ef462420f75fb09f"
            ]
        ]
    },
    {
        "id": "9fcb94a7ca089376",
        "type": "function",
        "z": "49a146bf1e769cb9",
        "name": "",
        "func": "var humedad_2 = parseFloat(msg.payload.humedad_2);\nmsg.payload = humedad_2;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 460,
        "wires": [
            [
                "4c9b6cdca44c7b35",
                "1a8bc1aa47c22cfa"
            ]
        ]
    },
    {
        "id": "1530ee93a41033df",
        "type": "ui_text",
        "z": "49a146bf1e769cb9",
        "group": "2016f31dd7cbf6d5",
        "order": 10,
        "width": 12,
        "height": 1,
        "name": "",
        "label": "Temperatura:",
        "format": "{{msg.payload}}°C",
        "layout": "row-center",
        "className": "",
        "x": 610,
        "y": 240,
        "wires": []
    },
    {
        "id": "778002d17435f52d",
        "type": "ui_text",
        "z": "49a146bf1e769cb9",
        "group": "2016f31dd7cbf6d5",
        "order": 9,
        "width": 12,
        "height": 1,
        "name": "",
        "label": "Humedad:",
        "format": "{{msg.payload}} %",
        "layout": "row-center",
        "className": "",
        "x": 610,
        "y": 340,
        "wires": []
    },
    {
        "id": "1fa614b87f9e1fc3",
        "type": "ui_text",
        "z": "49a146bf1e769cb9",
        "group": "2016f31dd7cbf6d5",
        "order": 1,
        "width": 12,
        "height": 1,
        "name": "",
        "label": "Fecha",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 590,
        "y": 700,
        "wires": []
    },
    {
        "id": "b4b18fca1624d029",
        "type": "ui_text",
        "z": "49a146bf1e769cb9",
        "group": "2016f31dd7cbf6d5",
        "order": 2,
        "width": 12,
        "height": 1,
        "name": "",
        "label": "Hora",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 590,
        "y": 740,
        "wires": []
    },
    {
        "id": "52ccb4d62f5bd152",
        "type": "ui_text",
        "z": "49a146bf1e769cb9",
        "group": "2016f31dd7cbf6d5",
        "order": 13,
        "width": 12,
        "height": 1,
        "name": "",
        "label": "Indice de radiación:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 630,
        "y": 540,
        "wires": []
    },
    {
        "id": "86ceb835e8fac476",
        "type": "ui_text",
        "z": "49a146bf1e769cb9",
        "group": "2016f31dd7cbf6d5",
        "order": 4,
        "width": 12,
        "height": 1,
        "name": "",
        "label": "Temperatura:",
        "format": "{{msg.payload}} °C",
        "layout": "row-center",
        "className": "",
        "x": 610,
        "y": 140,
        "wires": []
    },
    {
        "id": "4c9b6cdca44c7b35",
        "type": "ui_text",
        "z": "49a146bf1e769cb9",
        "group": "2016f31dd7cbf6d5",
        "order": 5,
        "width": 12,
        "height": 1,
        "name": "",
        "label": "Humedad:",
        "format": "{{msg.payload}} %",
        "layout": "row-center",
        "className": "",
        "x": 610,
        "y": 440,
        "wires": []
    },
    {
        "id": "ec9ffdfa542865de",
        "type": "ui_chart",
        "z": "49a146bf1e769cb9",
        "name": "",
        "group": "2016f31dd7cbf6d5",
        "order": 12,
        "width": 12,
        "height": 9,
        "label": "Valores de temperatura registrados",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 680,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "b048946a44951359",
        "type": "ui_chart",
        "z": "49a146bf1e769cb9",
        "name": "",
        "group": "2016f31dd7cbf6d5",
        "order": 11,
        "width": 12,
        "height": 9,
        "label": "Valores de humedad registrados",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 670,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "9e9ca3c9728e3b4f",
        "type": "ui_chart",
        "z": "49a146bf1e769cb9",
        "name": "",
        "group": "2016f31dd7cbf6d5",
        "order": 17,
        "width": 12,
        "height": 9,
        "label": "Valores de radiación registrados",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "11",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 670,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "b20498ac4fd812dc",
        "type": "ui_chart",
        "z": "49a146bf1e769cb9",
        "name": "",
        "group": "2016f31dd7cbf6d5",
        "order": 6,
        "width": 12,
        "height": 9,
        "label": "Valores de temperatura registrados",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 680,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "1a8bc1aa47c22cfa",
        "type": "ui_chart",
        "z": "49a146bf1e769cb9",
        "name": "",
        "group": "2016f31dd7cbf6d5",
        "order": 7,
        "width": 12,
        "height": 9,
        "label": "Valores de humedad registrados",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 670,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "5a37c2e5236f5252",
        "type": "ui_text",
        "z": "49a146bf1e769cb9",
        "group": "2016f31dd7cbf6d5",
        "order": 3,
        "width": 24,
        "height": 2,
        "name": "",
        "label": "",
        "format": "Monitoreo en cama de cultivo",
        "layout": "row-left",
        "className": "",
        "x": 590,
        "y": 800,
        "wires": []
    },
    {
        "id": "bd8962690e30b487",
        "type": "ui_text",
        "z": "49a146bf1e769cb9",
        "group": "2016f31dd7cbf6d5",
        "order": 8,
        "width": 24,
        "height": 2,
        "name": "",
        "label": "",
        "format": "Monitoreo al interior del invernadero",
        "layout": "row-left",
        "className": "",
        "x": 590,
        "y": 840,
        "wires": []
    },
    {
        "id": "ef462420f75fb09f",
        "type": "function",
        "z": "49a146bf1e769cb9",
        "name": "function",
        "func": "var entrada = msg.payload;\nvar indice_radiacion=\"\";\n\nif ((entrada >= 0) && (entrada <= 2))\n    indice_radiacion = \"Nivel bajo de radiación UV\";\nelse if ((entrada >= 3) && (entrada <= 5))\n    indice_radiacion = \"Nivel medio de radiación UV\";\nelse if ((entrada >= 6) && (entrada <= 7))\n    indice_radiacion = \"Nivel alto de radiación UV\";\nelse if ((entrada >= 8) && (entrada <= 10))\n    indice_radiacion = \"Nivel muy alto de radiación UV\";\nelse if (entrada ==1)\n    indice_radiacion = \"Nivel extremadamente alto de radiación UV\";\nelse\n    indice_radiacion = \"Error de medicion\";\n\nmsg.payload = indice_radiacion;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 620,
        "wires": [
            [
                "6f0e4daf940dc536"
            ]
        ]
    },
    {
        "id": "6f0e4daf940dc536",
        "type": "ui_text",
        "z": "49a146bf1e769cb9",
        "group": "2016f31dd7cbf6d5",
        "order": 15,
        "width": 12,
        "height": 1,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 750,
        "y": 620,
        "wires": []
    },
    {
        "id": "401ef34f4c3e730c",
        "type": "ui_spacer",
        "z": "49a146bf1e769cb9",
        "name": "spacer",
        "group": "2016f31dd7cbf6d5",
        "order": 14,
        "width": 12,
        "height": 1
    },
    {
        "id": "8718dd028f49032e",
        "type": "ui_spacer",
        "z": "49a146bf1e769cb9",
        "name": "spacer",
        "group": "2016f31dd7cbf6d5",
        "order": 16,
        "width": 12,
        "height": 1
    },
    {
        "id": "394352c8128b5e1c",
        "type": "ui_spacer",
        "z": "49a146bf1e769cb9",
        "name": "spacer",
        "group": "2016f31dd7cbf6d5",
        "order": 18,
        "width": 12,
        "height": 1
    },
    {
        "id": "c7c0cfd34d7edd49",
        "type": "ui_spacer",
        "z": "49a146bf1e769cb9",
        "name": "spacer",
        "group": "2016f31dd7cbf6d5",
        "order": 19,
        "width": 12,
        "height": 1
    },
    {
        "id": "59c41a0bf4960f7a",
        "type": "ui_spacer",
        "z": "49a146bf1e769cb9",
        "name": "spacer",
        "group": "2016f31dd7cbf6d5",
        "order": 20,
        "width": 12,
        "height": 1
    },
    {
        "id": "fc05c4701e78f250",
        "type": "ui_spacer",
        "z": "49a146bf1e769cb9",
        "name": "spacer",
        "group": "2016f31dd7cbf6d5",
        "order": 21,
        "width": 12,
        "height": 1
    },
    {
        "id": "5171e4a520aaa469",
        "type": "ui_spacer",
        "z": "49a146bf1e769cb9",
        "name": "spacer",
        "group": "2016f31dd7cbf6d5",
        "order": 22,
        "width": 12,
        "height": 1
    },
    {
        "id": "aefa48a79647d6f1",
        "type": "ui_spacer",
        "z": "49a146bf1e769cb9",
        "name": "spacer",
        "group": "2016f31dd7cbf6d5",
        "order": 23,
        "width": 12,
        "height": 1
    },
    {
        "id": "eacfaa3dc32888de",
        "type": "ui_spacer",
        "z": "49a146bf1e769cb9",
        "name": "spacer",
        "group": "2016f31dd7cbf6d5",
        "order": 24,
        "width": 12,
        "height": 1
    },
    {
        "id": "609ec783cf8d1bb2",
        "type": "ui_spacer",
        "z": "49a146bf1e769cb9",
        "name": "spacer",
        "group": "2016f31dd7cbf6d5",
        "order": 25,
        "width": 12,
        "height": 1
    },
    {
        "id": "1efe9ee42bf8149e",
        "type": "ui_spacer",
        "z": "49a146bf1e769cb9",
        "name": "spacer",
        "group": "2016f31dd7cbf6d5",
        "order": 26,
        "width": 12,
        "height": 1
    },
    {
        "id": "ef5a4a98c1920526",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.137.1",
        "port": "1883",
        "clientid": "CIITAVERACRUZ",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2016f31dd7cbf6d5",
        "type": "ui_group",
        "name": "Tunel de invernadero tecnificado",
        "tab": "469dd2cd53cec20c",
        "order": 1,
        "disp": true,
        "width": 24,
        "collapse": false,
        "className": ""
    },
    {
        "id": "469dd2cd53cec20c",
        "type": "ui_tab",
        "name": "Monitoreo del Invernadero Tecnificado del Centro de Innovación e Integración de Tecnologías Avanzadas",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]